# Install PyTorch separately:
# pip install torch==2.4.1 torchvision==0.19.1 torchaudio==2.4.1 --index-url https://download.pytorch.org/whl/cu121

numpy
pandas
matplotlib
scikit-learn
scikit-image
jupyterlab 
jupyter
tqdm
opencv-python
opencv-contrib-python
timm
albumentations==1.4.17
